build/
x64/
build_release/
release/
release.zip
plugin/__pycache__
source/CMakeCache.txt
source/CMakeFiles/

# vim-vs temporary files
/.vimvs-tmp*

# Binaries that are copies to /bin
# /bin/vimvs-dummy*
# /bin/vimvs.exe

